version: "3.9"

services:
  rtmp:
    build:
      context: .
    image: moqt-nginx-rtmps:latest
    container_name: moqt-rtmps
    restart: unless-stopped
    ports:
      - "1935:1935"
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
      - ./recordings:/var/media
      - ./logs:/var/log/nginx
